footer .footer_icons {
  place-items: center;
  text-align: center;
  display: inline;
}

footer {
  flex-shrink: none;
  text-align: center;
  height: $footer-height;
}

footer a {
  color: #3f3f3f;
  margin: 5px;
}

footer a:hover {
  color: #5f5f5f;
}

.footer-text {
  font-size: 12px;
  line-height: 60px;
  margin-top: 1rem;
  // float: center;
}
