footer .footer_icons {
  place-items: center;
  text-align: center;
  display: inline;
}

footer {
  flex-shrink: none;
  text-align: center;
}

footer a {
  color: #3f3f3f;
  margin: 5px;
}

footer a:hover {
  color: #4f4f4f;
}

.footer-text {
  font-size: 12px;
  line-height: 60px;
  float: center;
}
