form {
  place-items: center;
}

label {
  font-family: monospace;
  font-size: 2rem;
  padding: 12px 12px;
  margin: 15px;
}

/* Fixes width of form input fields so that they are equal */
input {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-top: 10px;
  border: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

input:focus {
  border: 3px solid #555;
}
