/** Global Color Palette */
:root {
  --blue-dark: #0062e6;
  --blue-light: #33aeff;
  --yellow-light: #fcad26;
  --yellow-med: #f29e0d;
  --yellow-dark: #f58500;
  --grey-dark: #1f1f1f;
  --grey-med-dark: #2f2f2f;
  --grey-med: #3f3f3f;
  --grey-med-light: #4f4f4f;
  --grey-light: #5f5f5f;
  --grey-extra-light: #8f8f8f;
  --cancel-red: #da2632;
  --submit-green: #8cda26;
  --white: #ffffff;
  --black: #000000;
  --dim-overlay: rgba(255, 255, 255, 0.1);
}
/** Global Variables */
:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

$footer-height: 60px;

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(to right, var(--blue-dark), var(--blue-light));
}

html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--grey-dark);
  font-size: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: calc(100vh - #{$footer-height});
}

body {
  display: grid;
  justify-content: center;
  width: 100vw;
}

.child {
  flex: 0 1 300px;
  text-align: center;
  width: 50vw;
}

a {
  text-decoration: none;
}

i {
  font-family: 'FontAwesome';
  font-style: normal;
}

header {
  font-size: 2rem;
  justify-content: center;
  margin-top: 5vh;
}

#help {
  display: none;
}

@import 'form';
@import 'button';
@import 'output';
@import 'modal';
@import 'footer';
@import 'media-queries';
