* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* a {
  text-decoration: none;
}

html {
  background: linear-gradient(to right, #0062e6, #33aeff);
}

html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  color: #2f2f2f;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 0 100px; /* bottom = footer height */
}

header h1 {
  margin: 1rem;
  text-align: center;
}

#app {
  width: 60%;
  margin: 0 auto;
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
  text-align: center;
}

#sticky-footer a {
  color: #3f3f3f;
  margin: 5px;
}

#sticky-footer a:hover {
  color: #4f4f4f;
}

#sticky-footer .footer_text {
  font-size: 17px;
  line-height: 60px;
  float: center;
}

/*
footer .footer_icons {
  /* margin-left: 5%; * /
  text-align: center;
  display: inline;
}

footer .footer_icons a {
  /* float: left; */
/* padding-right: 10px; * /
  
}
footer .footer_icons a:hover {
  color: grey;
} 
*/
